#If someone keeps the dataset in the same folder
mbdump/
mbdump_raw/
#created by PIG scripts
*.log
*.pig_header
#could be useful to create and output temp result in this folder
demo_results/
#jupyter stuff
.ipynb_checkpoints/
#mac files
.DS_Store
#hive stuff
metastore_db
*.sql.save
#File from the mbdump tar extraction
COPYING
README
REPLICATION_SEQUENCE
SCHEMA_SEQUENCE
TIMESTAMP
mbdump*
